STRIPE_SECRET_KEY=sk_test_51TJWkgDpIabBRaUHhpBwiCxFFX0evNtbf93REbMEZIxoXeTKIS0m6Y7tLk1I2sRNdwBxmn7AF9IT4drcyeDSDEtH00IO4N64BQ
STRIPE_WEBHOOK_SECRET=ec_ZHpbF2JidZUm654WslAKYf0PGjWFEpJw
MONGO_URI=mongodb+srv://farhanbaber:farhanbaber1122@cluster0.8jfdf5t.mongodb.net/gold_website?retryWrites=true&w=majority
CLIENT_URL=https://gold-website-chi.vercel.app
PORT=8080
