STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/gold_website?retryWrites=true&w=majority
CLIENT_URL=https://gold-website-chi.vercel.app
PORT=4242
