STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/gold_website?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173
PORT=4242
